* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #2e912f;
}

.nav_bar div {
    flex: 1 1 100px;
}

.nav_bar a {
    text-decoration: none;
    color: white;
}

.nav_bar * {
    margin: 10px;
}

.nav_bar img {
    width: 60px;
    height: 60px;
}

.titulo_logo {
    color: white;
    font-weight: bold;
}

.logo_nav {
    display: flex;
    align-items: center;
}

.menu_itens {
    display: flex;
}

.menu_itens a:hover {
    background-color: #57d35c;
}

.principal {
    width: 100%;
    height: 500px;
    
}

.dobra1 {
    width: 100%;
    height: 500px;
    background-image: url('/img/jardim_da_orla_santos_sp.jpg');
    background-size: cover;
}

.dobra1 h1 {
    position: absolute;
    top: 255px;
    margin-left: 7%;
    color: black;
    text-shadow: white;
}

footer {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #2e912f;
    align-items: center;
    justify-content: center;
}

.redes {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    border: solid; */
    /* margin: 0.5%; */

    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.p_footer {
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}