* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav_bar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #203a14;
    z-index: 2;
}

.nav_bar div {
    flex: 1 1 100px;
}

.nav_bar a {
    text-decoration: none;
    color: white;
}

.nav_bar * {
    margin: 10px;
}

.nav_bar img {
    width: 60px;
    height: 60px;
}

.titulo_logo {
    color: white;
    font-weight: bold;
}

.logo_nav {
    display: flex;
    align-items: center;
}

.menu_itens {
    display: flex;
}

.menu_itens a:hover {
    color: #2e912f;
}

/* main {
    max-width: 12;
    margin: auto;
} */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
} 

main h2 {
    text-align: center;
    margin-top: 50px;
}

.dobra1 {
    width: 100%;
    height: 500px;
    background-image: url('img/santos_cidade_sp.jpeg');
    background-size: cover;
}

.dobra1 h1 {
    position: absolute;
    top: 255px;
    margin-left: 7%;
    color: rgb(245, 245, 245);
    background-color: #203a14;
    font-size: 24px;
}

.dobra2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    gap: 80px;
}

.caixas3 {
    display: flex;
    flex-direction: row;
    margin: 50px;

    /* width: auto;
    height: auto; */

    gap: 25px;
}

.caixas3 .caixa {
    background-color: yellow;
    flex-wrap: wrap;
    border: solid 2px #203a14;
}

/* .caixas img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} */

.caixa p {
    text-align: justify;
    margin: 20px;
}

.caixa h3 {
    margin: 20px;
    text-align: center;
}

/* .principal h2 {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 30px;
    margin: 50px;
    text-align: center;
} */


.dobra3 {
    align-items: center;
    justify-content: center;
}

.video {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Teste */

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    /* background-image: linear-gradient(to right, rgb(32,58,20), rgb(39, 211, 39)); */
    /* background-image: url(http:/
    /127.0.0.1:5500/img/santos_sp_logo_amarela.jpg); */
    /* margin: 5px;
    width: 30%;
    border: solid 10px rgb(32,58,20);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    min-height: auto; */

    min-width:200px;
    height:300px;
    margin: 10px;
    background-color:;
    border:5px solid #076e2a;
    padding:10px;
    box-sizing: border-box;
}

.content:hover {
    box-shadow: 3px -176px 127px -26px rgba(0, 0, 0, 1) inset;
    -webkit-box-shadow: 3px -176px 127px -26px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 3px -176px 127px -26px rgba(0, 0, 0, 1) inset;
    -webkit-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
}

.content h3 {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    background-color: #076e2a;
    text-align: center;
    margin-bottom: 10px;
    padding: auto;
    
}

#caixa1 {
    background-image: url(https://www.viagensecaminhos.com/wp-content/uploads/2012/02/santos.jpg);
    background-size: cover;
}

#caixa2 {
    background-image: url(https://www.viagensecaminhos.com/wp-content/uploads/2012/02/santos.jpg);
    background-size: cover;
}

#caixa3 {
    background-image: url(https://www.viagensecaminhos.com/wp-content/uploads/2012/02/santos.jpg);
    background-size: cover;
}

.content p {
    font-family: arial;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;

    /* padding: 20px; */
    /* max-height: 500px; */
}

@media (max-width: 525px) {
    .container {
        flex-wrap: wrap;
    }
    .content {
        margin: 5px 0px 5px 0px;
        width: 100%;
    }
}

/* Início da estilização do rodapé */
.rodape {
    display: flex;
    flex-direction: column;
    background-color: #203a14;
    align-items: center;
    padding: 30px;
}

.rodape h2 {
    color: white;
}

.redes {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
    margin: 30px;
}

.redes img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.redes a {
    color: white;
}

.rodape p {
    color: white;
}

/* @media screen {min-width: 300px;
    .caixas {
        flex-wrap: wrap;
        margin: 50px;
        gap: 25px;
    }
} */
